<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPPWDFI | People Lists</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/List-style.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>

<body>
    <div id="wrapper">
        <div class="overlay dark_bg"></div>
        <!-- Modal Background -->

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="sidebar-header">
                    <div class="sidebar-brand">
                        <a href="#">Admin</a>
                        <hr class="navbar-solid">
                    </div>
                </div>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/programs">Programs</a></li>
                <li><a href="/people">People</a></li>
                <li><a href="/benefactors">Benefactor</a></li>
                <li><a href="/benefits">Benefits</a></li>
                <li><a href="/settings">Settings</a></li>
                <li class="logout-link"><a href="#logout"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- HEADER -->
        <div class="bg-half-gradient">
            <header class="bg-gradient">
                <div class="container d-flex align-items-center">
                    <div class="menu-icon mr-3" id="menu-toggle">&#9776;</div>
                    <a href="/">
                        <img src="../images/LPPWDFI-Logo.png" alt="Logo" class="logo mr-3">
                    </a>
                    <div>
                        <h1 class="org-name">People</h1>
                    </div>
                </div>

                <div class="createBtn">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#modal-people-create">Create</button>
                </div>

            </header>
        </div>

        <!--2nd Header-->
        <main class="main-content">
            <h2 class="main-title">People List</h2>
            <div class="button-group">
                <button class="btn export-btn" onclick="exportTableToCSV('People.csv')">Export to CSV</button>
            </div>

            <!---TABLE LISTS-->
            <div class="table-container">
                <form id="filter-form">
                <button id="resetFiltersButton" class="btn btn-secondary">Reset Filters</button>
                <table class="table table-bordered table-hover" style="font-size: 0.70rem;">
                    <caption>List of People</caption>
                    <thead class="thead-light">
                         <tr>
                                <th scope="col">#</th>
                                <th scope="col">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="firstNameDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                            First Name
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="firstNameDropdown">
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="firstNameSort" value="az" id="firstNameSortAZ">
                                                    <label class="form-check-label" for="firstNameSortAZ">
                                                        A-Z
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="firstNameSort" value="za" id="firstNameSortZA">
                                                    <label class="form-check-label" for="firstNameSortZA">
                                                        Z-A
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="lastNameDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                            Last Name
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="lastNameDropdown">
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="lastNameSort" value="az" id="lastNameSortAZ">
                                                    <label class="form-check-label" for="lastNameSortAZ">
                                                        A-Z
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="lastNameSort" value="za" id="lastNameSortZA">
                                                    <label class="form-check-label" for="lastNameSortZA">
                                                        Z-A
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="genderDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                            Gender
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="genderDropdown">
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" value="Male" id="maleCheck" name="genderFilter">
                                                    <label class="form-check-label" for="maleCheck">
                                                        Male
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" value="Female" id="femaleCheck" name="genderFilter">
                                                    <label class="form-check-label" for="femaleCheck">
                                                        Female
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="birthdateDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                            Birthdate
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="birthdateDropdown">
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="birthdateSort" value="newest" id="birthdateSortNewest">
                                                    <label class="form-check-label" for="birthdateSortNewest">
                                                        Youngest
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="birthdateSort" value="oldest" id="birthdateSortOldest">
                                                    <label class="form-check-label" for="birthdateSortOldest">
                                                        Oldest
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th scope="col">Address</th>
                                <th scope="col">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="barangayDropdown" data-bs-toggle="dropdown" aria-expanded="false">Barangay</a>
                                        <ul class="dropdown-menu" aria-labelledby="barangayDropdown">
                                            {{#each barangayCodes}}
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="{{this}}" id="{{this}}Check" name="barangayFilter">
                                                    <label class="form-check-label" for="{{this}}Check">{{this}}</label>
                                                </div>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </th>
                                <th scope="col">Contact Number</th>
                                <th scope="col">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="disabilityTypeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                            Disability Type
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="disabilityTypeDropdown">
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="Physical" id="physicalCheck" name="disabilityTypeFilter">
                                                    <label class="form-check-label" for="physicalCheck">
                                                        Physical
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="Sensory" id="sensoryCheck" name="disabilityTypeFilter">
                                                    <label class="form-check-label" for="sensoryCheck">
                                                        Sensory
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="Intellectual" id="intellectualCheck" name="disabilityTypeFilter">
                                                    <label class="form-check-label" for="intellectualCheck">
                                                        Intellectual
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="Mental" id="mentalCheck" name="disabilityTypeFilter">
                                                    <label class="form-check-label" for="mentalCheck">
                                                        Mental
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th scope="col">Disability</th>
                                <th scope="col">PWD Card ID No.</th>
                                <th scope="col">Recent PWD ID Date</th>
                                <th scope="col">Actions</th>
                            </tr>
                    <tbody>
                        <!-- Table rows go here -->
                        {{#each people}}
                        <tr data-person-id="{{this.id}}">
                            <td>{{incremented @index}}</td>
                            <td>{{this.first_name}}</td>
                            <td>{{this.last_name}}</td>
                            <td>{{this.gender}}</td>
                            <td>{{formatDate this.birthdate}}</td>
                            <td>{{this.address}}</td>
                            <td>{{this.barangay}}</td>
                            <td>{{this.contact_number}}</td>
                            <td>{{this.disability_type}}</td>
                            <td>{{this.disability}}</td>
                            <td>{{this.pwd_card_id_no}}</td>
                            <td>{{formatDate this.recent_pwd_id_update_date}}</td>
                            <td>
                                <button class="editBtn" data-bs-toggle="modal" data-bs-target="#modal-people-edit"><i class="bi bi-pencil"></i></button>
                                <button class="deleteBtn" data-id="{{this._id}}"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                </form>
            </div>

            <!-- Create People Modal -->
<div class="modal fade" id="modal-people-create">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add a Person</h2>
                <button type="button" class="closeBtn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createPeopleForm" action="/people/create" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="gender">Gender</label>
                            <select id="gender" name="gender" class="form-control" required>
                                <option value="" selected disabled>Choose...</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="birthdate">Birthdate</label>
                            <input type="date" id="birthdate" name="birthdate" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Address" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="barangay">Barangay</label>
                            <select id="barangay" name="barangay" class="form-control" required>
                                <option value="" selected disabled>Choose...</option>
                                <option value="Almanza Uno">Almanza Uno</option>
                                <option value="Daniel Fajardo">Daniel Fajardo</option>
                                <option value="Elias Aldana">Elias Aldana</option>
                                <option value="Ilaya">Ilaya</option>
                                <option value="Manuyo Uno">Manuyo Uno</option>
                                <option value="Pamplona Uno">Pamplona Uno</option>
                                <option value="Pulanglupa Uno">Pulanglupa Uno</option>
                                <option value="Talon Uno">Talon Uno</option>
                                <option value="Zapote">Zapote</option>
                                <option value="Almanza Dos">Almanza Dos</option>
                                <option value="BF International/CAA">BF International/CAA</option>
                                <option value="Manuyo Dos">Manuyo Dos</option>
                                <option value="Pamplona Dos">Pamplona Dos</option>
                                <option value="Pamplona Tres">Pamplona Tres</option>
                                <option value="Pilar">Pilar</option>
                                <option value="Pulanglupa Dos">Pulanglupa Dos</option>
                                <option value="Talon Dos">Talon Dos</option>
                                <option value="Talon Tres">Talon Tres</option>
                                <option value="Talon Kuartro">Talon Kuartro</option>
                                <option value="Talon Singko">Talon Singko</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="contactNumber">Contact Number</label>
                            <input type="text" class="form-control" id="contactNumber" name="contactNumber" placeholder="Contact Number" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="disabilityType">Disability Type</label>
                            <select id="disabilityType" name="disabilityType" class="form-control" required>
                                <option value="" selected disabled>Choose...</option>
                                <option value="Physical">Physical</option>
                                <option value="Sensory">Sensory</option>
                                <option value="Intellectual">Intellectual</option>
                                <option value="Mental">Mental</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="disability">Disability</label>
                            <input type="text" class="form-control" id="disability" name="disability" placeholder="Disability" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="pwdCardIdNo">PWD Card ID No.</label>
                            <input class="form-control" id="pwdCardIdNo" name="pwd_card_id_no" placeholder="PWD Card ID No." required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recentPwdIdUpdateDate">Recent PWD ID Update Date</label>
                            <input type="date" id="recentPwdIdUpdateDate" name="recent_pwd_id_update_date" class="form-control" required>
                        </div>
                    </div>
                    <button type="submit" class="submitBtn" form="createPeopleForm">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

       <!-- Edit People Modal -->
<div class="modal fade" id="modal-people-edit" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Edit Person</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editPeopleForm" action="/people/edit" method="POST">
                    <input type="hidden" id="editPeopleId" name="id">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="editFirstName">First Name</label>
                            <input type="text" class="form-control" id="editFirstName" name="firstName" placeholder="First Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="editLastName">Last Name</label>
                            <input type="text" class="form-control" id="editLastName" name="lastName" placeholder="Last Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="editGender">Gender</label>
                            <select id="editGender" name="gender" class="form-control">
                                <option value="" selected disabled>Choose...</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="editBirthdate">Birthdate</label>
                            <input type="date" id="editBirthdate" name="birthdate" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="editAddress">Address</label>
                            <input type="text" class="form-control" id="editAddress" name="address" placeholder="Address">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="editBarangay">Barangay</label>
                            <select id="editBarangay" name="barangay" class="form-control">
                                <option value="" selected disabled>Choose...</option>
                                <option value="Almanza Uno">Almanza Uno</option>
                                <option value="Daniel Fajardo">Daniel Fajardo</option>
                                <option value="Elias Aldana">Elias Aldana</option>
                                <option value="Ilaya">Ilaya</option>
                                <option value="Manuyo Uno">Manuyo Uno</option>
                                <option value="Pamplona Uno">Pamplona Uno</option>
                                <option value="Pulanglupa Uno">Pulanglupa Uno</option>
                                <option value="Talon Uno">Talon Uno</option>
                                <option value="Zapote">Zapote</option>
                                <option value="Almanza Dos">Almanza Dos</option>
                                <option value="BF International/CAA">BF International/CAA</option>
                                <option value="Manuyo Dos">Manuyo Dos</option>
                                <option value="Pamplona Dos">Pamplona Dos</option>
                                <option value="Pamplona Tres">Pamplona Tres</option>
                                <option value="Pilar">Pilar</option>
                                <option value="Pulanglupa Dos">Pulanglupa Dos</option>
                                <option value="Talon Dos">Talon Dos</option>
                                <option value="Talon Tres">Talon Tres</option>
                                <option value="Talon Kuartro">Talon Kuartro</option>
                                <option value="Talon Singko">Talon Singko</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="editContactNumber">Contact Number</label>
                            <input type="text" class="form-control" id="editContactNumber" name="contactNumber" placeholder="Contact Number">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="editDisabilityType">Disability Type</label>
                            <select id="editDisabilityType" name="disabilityType" class="form-control">
                                <option value="" selected disabled>Choose...</option>
                                <option value="Physical">Physical</option>
                                <option value="Sensory">Sensory</option>
                                <option value="Intellectual">Intellectual</option>
                                <option value="Mental">Mental</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="editDisability">Disability</label>
                            <input type="text" class="form-control" id="editDisability" name="disability" placeholder="Disability">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="editPwdCardIdNo">PWD Card ID No.</label>
                            <input class="form-control" id="editPwdCardIdNo" name="pwd_card_id_no" placeholder="PWD Card ID No.">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="editRecentPwdIdUpdateDate">Recent PWD ID Update Date</label>
                            <input type="date" id="editRecentPwdIdUpdateDate" name="recent_pwd_id_update_date" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="submitBtn" form="editPeopleForm">Update</button>
            </div>
        </div>
    </div>
</div>

        </main>

         <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- External JS -->
        <script src="/js/people-list.js"></script>
    </div>
</body>

</html>
